<div class="alertcontainer">
    <div class="alerthead">
        <p>주문 전 확인!</p>
        <i class="bi bi-x-lg alertClose"></i>
    </div>
    <div class="alertmain"></div>
    <button type="button" class="alertBtn">확인</button>
</div>