<section class="container">
    <div class="cus_container">
        <div class="order_con">
            <article class="order">
                <div class="order-name">문의 내역</div>
                <table class="cus-table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>내용</th>
                            <th>날짜</th>
                        </tr>
                    </thead>

                    <tbody id="cus_con">
                        <tr>
                            <td colspan="3">문의 내역이 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </div>
</section>