<header class="header">
  <% if (isLogged) { %>
    <div class="nav-login">
      <a href="/logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" fill="black" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
      </a>
      <div class="hover-text">로그아웃</div>
    </div>
    <% } else { %>
      <div class="nav-login" id="login_open">
        <!-- <a href="/login"> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="40px" fill="black" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
          </svg>
        <!-- </a> -->
        <div class="hover-text">로그인</div>
      </div>
      <% } %>

        <div class="no_div"></div>
        <div class="nav__brandLogo">
          <a href="/">
            <img src="/logo.png" alt="brandLogo" width="90" />
          </a>
        </div>
        <nav>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/productAll" class="nav__link">전체 상품</a>
            </li>
            <li class="nav__item">
              <a href="/productLiving" class="nav__link">가구 상품</a>
            </li>
            <li class="nav__item">
              <a href="/productOut" class="nav__link">야외 상품</a>
            </li>
            <li class="nav__item">
              <a href="/productLife" class="nav__link">생활 상품</a>
            </li>
            <li class="nav__item">
              <a href="/Customer" class="nav__link">고객 지원</a>
            </li>
            <li class="nav__item">
              <a href="/Mypage" class="nav__link">마이페이지</a>
            </li>
          </ul>
        </nav>
        <div class="nav__toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="black" class="bi bi-list nav__img"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
          </svg>
          <div class="hover-text2">메뉴</div>
        </div>
        <div class="menuBarIcons">
          <!-- 검색 -->
          <div class="button button-menu-icon search_tog" id="search-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" fill="black" class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            <div class="hover-text">검색</div>
          </div>
          <!-- 장바구니 -->
          <div class="button button-menu-icon cart_tog">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" fill="black" class="bi bi-cart-fill nav__cart"
              id="cart-btn" viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
            </svg>
            <div class="cartAmount" id="cartAmount">0</div>
            <div class="hover-text">장바구니</div>
          </div>
          <!-- 로그인 -->
          <% if (isLogged) { %>
            <div class="button button-menu-icon login_tog">
              <a href="/logout">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" fill="black" class="bi bi-person-circle"
                  viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
              </a>
              <div class="hover-text">로그아웃</div>
            </div>
            <% } else { %>
              <div class="button button-menu-icon login_tog" id="form-open">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" fill="black" class="bi bi-person-circle"
                  viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
                <div class="hover-text">로그인</div>
              </div>
              <% } %>
        </div>
</header>
<div class="nav__div">
  <div class="div__item">
    <a href="/productAll">전체 상품</a>
  </div>
  <div class="div__item">
    <a href="/productLiving">가구 상품</a>
  </div>
  <div class="div__item">
    <a href="/productOut">야외 상품</a>
  </div>
  <div class="div__item">
    <a href="/productLife">생활 상품</a>
  </div>
  <div class="div__item">
    <a href="/Customer">고객 지원</a>
  </div>
  <div class="div__item">
    <a href="/Mypage">마이페이지</a>
  </div>
</div>