<div class="home">
    <div class="blur-background"></div>
    <div class="form_container">
      <i class="bi bi-x-lg form_close"></i>
      <!-- Login From -->
      <div class="form login_form">
        <form action="#" class="login-reset" id="form" name="login-form" method="post">
          <h2>로그인</h2>

          <div class="input_box">
            <input type="tel" placeholder="전화번호를 입력하세요" id="loginPhone" required />
            <i class="bi bi-telephone users"></i>
          </div>
          <div class="input_box">
            <input
              type="password"
              placeholder="비밀번호를 입력하세요" id="loginUserpw"
              required
            />
            <i class="bi bi-lock password"></i>
          </div>

          <div class="option_field">
            <span class="checkbox">
              <input type="checkbox" id="check" />
              <label for="check">로그인 유지</label>
            </span>
            <a href="#" class="forgot_pw">비밀번호 찾기</a>
          </div>

          <button type="button" class="button logged-btn" onclick="loginUser()">로그인</button>

          <div class="login_signup">
            계정 없으신가요? <a href="#" id="signup">회원 가입</a>
          </div>
        </form>
      </div>
      <!-- Signup From -->
      <div class="form signup_form">
        <form action="#" name="signup-form" method="post">
          <h2>회원 가입</h2>

          <div class="input_box">
            <input type="text" placeholder="이름을 입력하세요" id="username" required />
            <i class="bi bi-person users"></i>
          </div>
          <div class="input_box">
            <input type="tel" placeholder="전화번호를 입력하세요" id="phone" required />
            <i class="bi bi-telephone users"></i>
          </div>
          <div class="input_box" id="new-pw">
            <input
              type="password"
              placeholder="새로운 비밀번호 만들기" id="userpw"
              required
            />
            <i class="bi bi-lock password"></i>
          </div>
          <div class="input_box" id="chk-pw">
            <input type="password" placeholder="비밀번호 확인" id="newuserpw" required />
            <i class="bi bi-lock password"></i>
          </div>
          <button type="button" class="button signed-in" onclick="createUser()">회원 가입하기</button>
          <div class="login_signup">
            이미 계정 있으신가요? <a href="#" id="login">로그인</a>
          </div>
        </form>
      </div>
    </div>
</div>