<article class="banner">
    <div class="item">
        <div class="banner-item"></div>
    </div>
    <div class="item banner-content">이벤트</div>
    <div class="item banner-btn">
        <button
            type="button"
            class="btn btn-outline-light event-btn"
            onclick="alert('진행 중인 이벤트가 없습니다.')"
        >
            자세히 보기
        </button>
    </div>
    <div class="item">
        <div class="banner-item"></div>
    </div>
</article>

<article class="body-back"></article>