<div class="container">
    <div id="modal">
      <div class="modal_layer">
        <div class="modal_content">
          <div class="close_button">
            <svg
              id="modal_close_btn"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-x-lg"
              viewBox="0 0 20 20"
            >
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
              />
            </svg>
          </div>
          <div class="content">
            <div class="swiper" id="modal_1">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item1_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item1_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item1_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item1_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper" id="modal_2">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item2_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item2_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item2_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item2_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper" id="modal_3">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item3_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item3_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item3_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item3_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper" id="modal_4">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item4_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item4_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item4_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item4_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper" id="modal_5">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item5_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item5_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item5_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item5_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper" id="modal_6">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item6_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item6_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item6_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item6_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper" id="modal_7">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item7_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item7_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item7_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item7_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper" id="modal_8">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item8_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item8_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item8_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item8_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="swiper" id="modal_9">
              <div class="swiper-wrapper">
                <img
                  class="swiper-slide"
                  id="item__1"
                  src="/product_img/item9_1.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__2"
                  src="/product_img/item9_2.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__3"
                  src="/product_img/item9_3.jpg"
                />
                <img
                  class="swiper-slide"
                  id="item__4"
                  src="/product_img/item9_4.jpg"
                />
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </div>
              </div>
            </div>
            <div id="content" class="description"></div>
          </div>
          <div class="save_button">
            <a class="button btnSave but_btn"></a>
          </div>
          <div class="buy_button">
            <a href="/html/purchase.html" class="button btnFloat but_btn"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="card image-container">
        <img id="item1" src="/item_jpgs/item1.jpg" alt="상품 1" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>레이크 루이스 테이블</h2>
        <p>2,550,000원</p>
      </div>
      <div class="card image-container">
        <img id="item2" src="/item_jpgs/item2.jpg" alt="상품 2" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>'와우' 큐브</h2>
        <p>6,400,000원</p>
      </div>
      <div class="card image-container">
        <img id="item3" src="/item_jpgs/item3.jpg" alt="상품 3" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>'와우' 큐브 소파 테이블</h2>
        <p>8,800,000원</p>
      </div>
    </div>
    <div class="grid">
      <div class="card image-container">
        <img id="item4" src="/item_jpgs/item4.jpg" alt="상품 4" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>아만테 테이블</h2>
        <p>2,100,000원</p>
      </div>
      <div class="card image-container">
        <img id="item5" src="/item_jpgs/item5.jpg" alt="상품 5" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>파레트 테이블</h2>
        <p>5,800,000원</p>
      </div>
      <div class="card image-container">
        <img id="item6" src="/item_jpgs/item6.jpg" alt="상품 6" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>라운지 락 테이블 & 의자</h2>
        <p>3,100,000원 & 930,000원</p>
      </div>
    </div>
    <div class="grid">
      <div class="card image-container">
        <img id="item7" src="/item_jpgs/item7.jpg" alt="상품 7" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>아이코닉 부스</h2>
        <p>6,000,000원</p>
      </div>
      <div class="card image-container">
        <img id="item8" src="/item_jpgs/item8.jpg" alt="상품 8" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>아크 의자</h2>
        <p>1,150,000원</p>
      </div>
      <div class="card image-container">
        <img id="item9" src="/item_jpgs/item9.jpg" alt="상품 9" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <h2>아시바 벽 거울 #1, #2</h2>
        <p>650,000원</p>
      </div>
    </div>
</div>

<article class="body-back"></article>