<article class="body-back"></article>
<div class="container">
    <div id="modal">
      <div class="modal_layer">
        <div class="modal_content">
          <div class="close_button">
            <svg
              id="modal_close_btn"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-x-lg"
              viewBox="0 0 20 20"
            >
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
              />
            </svg>
          </div>
          <div class="content">
            <% for (let i = 1; i <= 9; i++) { %>
              <div class="swiper" id="modal_<%= i %>">
                <div class="swiper-wrapper"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev">
                  <div class="material-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="black" class="bi bi-chevron-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    </svg>
                  </div>
                </div>
                <div class="swiper-button-next">
                  <div class="material-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="black" class="bi bi-chevron-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                  </div>
                </div>
              </div>
              <% } %>
              <div id="content" class="description"></div>
            </div>
            <div class="save_button">
              <a href="#" class="button btnSave but_btn"></a>
            </div>
            <div class="buy_button">
              <a href="#" class="button btnFloat but_btn"></a>
            </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="card image-container">
        <img id="item1" src="/item1.jpg" alt="상품 1" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>검정 & 금빛 테이블</h2>
        <br>
        <p>255,000원</p>
        <br><br>
      </div>
      <div class="card image-container">
        <img id="item2" src="/item2.jpg" alt="상품 2" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>반달 테이블</h2>
        <br>
        <p>64,000원</p>
        <br><br>
      </div>
      <div class="card image-container">
        <img id="item3" src="/item3.jpg" alt="상품 3" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>클립 의자</h2>
        <br>
        <p>64,000원</p>
        <br><br>
      </div>
    </div>
    <div class="grid">
      <div class="card image-container">
        <img id="item4" src="/item4.jpg" alt="상품 4" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>파이프 테이블</h2>
        <br>
        <p>210,000원</p>
        <br><br>
      </div>
      <div class="card image-container">
        <img id="item5" src="/item5.jpg" alt="상품 5" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>삼각 & 반달 의자</h2>
        <br>
        <p>58,000원</p>
        <br><br>
      </div>
      <div class="card image-container">
        <img id="item6" src="/item6.jpg" alt="상품 6" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>라운지 락 테이블</h2>
        <br>
        <p>310,000원</p>
        <br><br>
      </div>
    </div>
    <div class="grid">
      <div class="card image-container">
        <img id="item7" src="/item7.jpg" alt="상품 7" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>아이코닉 테이블</h2>
        <br>
        <p>600,000원</p>
        <br><br>
      </div>
      <div class="card image-container">
        <img id="item8" src="/item8.jpg" alt="상품 8" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>아크 테이블 & 의자</h2>
        <br>
        <p>1,150,000원</p>
        <br><br>
      </div>
      <div class="card image-container">
        <img id="item9" src="/item9.jpg" alt="상품 9" />
        <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
          이미지 저장해서 보기
        </div>
        <br><br><br>
        <h2>아시바 벽 거울</h2>
        <br>
        <p>650,000원</p>
        <br><br>
      </div>
    </div>
</div>