<section class="container">
    <div class="cus_container">
        <div class="order_con">
            <div class="pur-name">마이페이지</div>
            <hr />
            <article class="order">
                <div class="order-name">주문 내역</div>
                <div id="orders-container">
                    <h2>주문 내역이 없습니다.</h2>
                </div>
            </article>
        </div>
    </div>
</section>