<section class="container">
    <div class="cus_container">
        <div class="order_con">
            <div class="pur-name">마이페이지</div>
            <hr />
            <article class="order">
                <div class="order-name">주문 내역</div>
                <div class="order-info info1">
                    <img src="/item1.jpg" alt="item1" class="pro-img">
                    <div class="check-pur">
                        <div class="purCheck pur-num">1900232-000001</div>
                        <div class="purCheck pur-date">2024-05-13</div>
                        <div class="purCheck pur-dest">마포구 염리사옥</div>
                        <div class="purCheck pur-price">64000원</div>
                        <div class="purCheck pur-pay">결제 수단 : 신용카드</div>
                        <div class="purCheck pur-btn">
                            <button type="button" class="btn btn-outline-info pur-btn-item">주문 취소</button>
                            <button type="button" class="btn btn-outline-info pur-btn-item">주문 교환</button>
                            <button type="button" class="btn btn-outline-info pur-btn-item">배송지 변경</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>