<article class="body-back"></article>

<article class="swiper-back">
    <div class="swiper-name">판매 상품</div>
        <div class="swiper">
          <a href="/html/all_product_page.html"
            ><button type="button" class="btn btn-outline-dark plus-btn-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-plus-lg"
                style="margin-right: 5px; margin-bottom: 3px"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                /></svg>더보기
            </button></a
          >
          <div class="swiper-wrapper">
            <img class="swiper-slide" src="/item_jpgs/item1.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item2.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item3.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item4.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item5.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item6.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item7.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item8.jpg" />
          </div>

          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev">
            <div class="material-icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
              </svg>
            </div>
          </div>
          <div class="swiper-button-next">
            <div class="material-icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
              </svg>
            </div>
        </div>
    </div>
</article>

<article class="body-back"></article>

<article class="swiper-back">
    <div class="swiper-name">인기 상품</div>
        <div class="swiper">
          <a href="/html/all_product_page.html"
            ><button type="button" class="btn btn-outline-dark plus-btn-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-plus-lg"
                style="margin-right: 5px; margin-bottom: 3px"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                /></svg>더보기
            </button></a
          >
          <div class="swiper-wrapper">
            <img class="swiper-slide" src="/item_jpgs/item1.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item2.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item3.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item4.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item5.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item6.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item7.jpg" />
            <img class="swiper-slide" src="/item_jpgs/item8.jpg" />
          </div>

          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev">
            <div class="material-icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
              </svg>
            </div>
          </div>
          <div class="swiper-button-next">
            <div class="material-icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
              </svg>
            </div>
        </div>
    </div>
</article>

<article class="body-back"></article>