/* header */
  
button.button{
      color: #fff;
}
.nav__actions{
      padding:0;
      margin: 0;
      border: none;
}

/* login */

div.button:active {
    transform: scale(0.98);
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 10000;
    display: none; 
}

.home.show .blur-background {
    display: block;
}

.form_container {
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 10001;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}
.home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.signup_form {
    display: none;
}
.form_container.active .signup_form {
    display: block;
}
.form_container.active .login_form {
    display: none;
}
.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #040405;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.form_container h2 {
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}
.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
    border-color: #0e0803;
}
.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
}
.input_box i.users,
.input_box i.password {
    left: 0;
}
.input_box input:focus ~ i.users,
.input_box input:focus ~ i.password {
    color: black;
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_container a {
    color: black;
    font-size: 12px;
}
.form_container a:hover {
    text-decoration: underline;
}
.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}
.checkbox input {
    accent-color:black;
}
.checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: black;
}
.form_container .button {
    background: black;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}
.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
  
#signup, #login{
    font-weight: bolder;
}

/* search */

.search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: hsla(47, 35%, 79%, 0.1);
    backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}
.search__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    cursor: pointer;
}

.search__form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    column-gap: .5rem;
    background-color:transparent;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.search__input {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;  
    color: black;
}

.show-search {
    opacity: 1;
    pointer-events: initial;
}
.show-search .search__form {
    transform: translateY(0);
}
.search__close{
    width: max-content;
    top: 6rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
}

.search-results {
    position: relative;
    top: 80px;
}

.search-result {
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

/* cart */

.cart_result {
    width: 100%;
    padding-top: 10px;
}

.total-price {
    border: 3px solid black;
    margin: 20px;
    display: grid;
    justify-content: center;
    padding: 20px;
    background-color: #F0F5F9;
}

.total-pricebox {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.cart-actions {
    display: flex;
    justify-content: center;
}

.cart-actions>button {
    margin: 20px;
}

.cartAmount {
    position: absolute;
    top: -10px;
    right: 15px;
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 3px;
}

.cartEmtMg {
    text-align: center;
}

.cart-item {
    border: 2px solid #1E2022;
    width: 100%;
    height: 33%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    background-color: #F0F5F9;
}

.cart_item_img {
    width: 30%;
}

.details {
    line-height: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.cart-delBtn {
    margin: 10px;
    width: 10%;
    display: grid;
    justify-content: end;
}

.item-checkbox {
    margin-top: 20px;
}

/* alert */

.alertcontainer,
.alertcontainer2,
.alertcontainer3,
.alertcontainer4,
.alertcontainer5,
.alertcontainer6 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 330px;
    border: 1px solid black;
    background-color: #ffffff;
}

.alerthead {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px;
}

.alertmain {
    width: 350px;
    height: 200px;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: #F0F5F9;
}

.alertmainCon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.alertBtn,
.alertBtn2,
.selecBtn,
.allBtn,
.remBtn,
.alertBtn3 {
    position: relative;
    top: 30px;
    left: 260px;
    width: 115px;
    height: 50px;
    border: none;
    background-color: #1E2022;
    color: #ffffff;
}

#cancelOpt,
#changeOpt {
    width: 90%;
    position: relative;
    padding: 5px;
    margin: 15px;
}

#cancelOptInput,
#changeOptInput {
    width: 90%;
    height: 60%;
    position: relative;
    left: 15px;
}

#changeAddInput {
    width: 90%;
    height: 60%;
    position: relative;
    left: 15px;
    top: 20px;
}

.cartRemText {
    font-size: 20px;
    font-weight: bold;
}

/* Footer */

* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
footer{
    width: 100%;
    background-color: #C9D6DE ;
    color: black;
}
   
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;  
}
.list-item{
    line-height:normal;
    color: white; 
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

.footer-snsLogo{
    display:flex;
    margin-top: 20px;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
}

.footer-sns{
    width: 50px;
    gap: 30px;
}
.footer-sns:hover{
    fill:aqua;
}

/* main 브랜딩 이미지 */

.containermain {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden; /* 이미지가 부모 요소를 벗어나지 않도록 설정 */
}
.main_content {
    position: relative;
    text-align: left;
    color: white;

    animation: main_cont 4s forwards;
}

.main-bg {
    width: 100%;
    height: 80vh; /* 화면의 100% 높이에 해당하는 값 */
    background-image: url('/main.jpeg');
    background-size: cover; /* 이미지가 부모 요소에 꽉 차도록 설정 */
    background-position: center; /* 이미지를 가운데로 정렬 */

    animation: main_back 2s 1s forwards;
}

@keyframes main_back {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(0.3);
    }
}

@keyframes main_cont {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* badge */

.badges-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

.badge {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1E2022;
    position: relative;
    margin-bottom: 10px;
}

.badge-ai {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(96, 139, 247);
    position: relative;
    margin-bottom: 10px;
}

.badge-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.scroll-side {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
    opacity: 0.5;
    position: relative;
}

/* body-back */

.body-back {
    height: 25vh;
    background-color: #ffffff;
} 

/* animation */

.login_tog,
.cart_tog,
.search_tog,
.nav-login,
.nav__toggle,
.badge,
.badge-ai {
    position: relative;
}

.hover-text,
.hover-text2 {
    display: none;
    position: absolute;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    font-size: 30px;
    white-space: nowrap;
    padding: 10px;
    z-index: 101;
}

.hover-text3 {
    display: none;
    position: absolute;
    /* top: -50px; */
    right: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    font-size: 30px;
    white-space: nowrap;
    padding: 10px;
    z-index: 101;
}

.nav__toggle:hover .hover-text2,
.badge:hover .hover-text3,
.login_tog:hover .hover-text,
.search_tog:hover .hover-text,
.cart_tog:hover .hover-text,
.nav-login:hover .hover-text,
.badge-ai:hover .hover-text3 {
    display: block;
}

.div__item,
.nav__item,
#main_brand,
#main_explain,
.swiper-name,
.banner-content,
.event-btn,
.pur-name,
.pur-product-info,
.pur-product,
.check-name,
.check-btn,
.plus-btn-item,
.our-pro,
.order-name {
    transition: font-size 0.3s ease 0.3s;
}

.swiper-name:hover,
.banner-content:hover,
.pur-name:hover {
    font-size: 70px;
}

.event-btn:hover,
.pur-product-info:hover,
.pur-product:hover,
.check-name:hover,
.check-btn:hover,
.plus-btn-item:hover,
.order-name:hover {
    font-size: 40px;
}

.our-pro:hover {
    font-size: 25px;
}

.swiper-slide,
.card {
    transition: transform 0.2s ease 0.3s;
}

#content {
    transition: font-size 0.5s ease 0.5s;
}

.swiper-slide:hover,
.card:hover {
    transform: scale(1.3);
    z-index: 10;
}

@media screen and (max-width: 767px) {
    .header {
        background-color: #C9D6DE;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9998;
    }
  
    .nav-login {
        padding-left: 20px;
      }
  
    .nav__list {
        display: none; 
        margin-bottom: 0;
    }
  
    .nav__div {
        display: none;
        position: fixed;
        z-index: 9998;
        top: 75px;
        width: 100%;
    }
  
    .div__item {
        background-color: #C9D6DE;
        text-align: center;
        height: 75px;
        line-height: 75px;
        font-size: 20px;
    }
  
    .div__item>a {
        color: #000000;
        text-decoration: none;
        font-family: "Black Han Sans", sans-serif;
        font-weight: 400;
    }
    
    .nav__toggle {
        padding-right: 20px;
    }
  
    .menuBarIcons {
        display: none;
    }

    .containermain {
        top: 75px;
    }

    .main_content {
        position: absolute;
        left: 20px;
        bottom: 50px;
        width: 60%;
    }
    #main_brand {
        font-size: 10vw;
        font-family: "Gasoek One", sans-serif;
        font-weight: 400;
    }
    #main_explain {
        font-size: 3vw;
        padding-top: 30px;
    }

    .hover-text {
        left: 2px;
    }

    .hover-text2 {
        right: 2px;
    }
    
    .div__item:hover {
        font-size: 35px;
    }

    #main_brand:hover {
        font-size: 15vw;
    }
    
    #main_explain:hover {
        font-size: 4vw;
    }

    #content:hover {
        font-size: 3vw;
    }

    .footer {
        width: 100%;
        font-size: 1.5rem;
    }
    .footer-snsLogo{
        margin-top: 15px;
        justify-content:space-around;
    }
    .footer_sns{
        width: 30px;
        gap: 10px;
    }
    .list-item{
        font-size: 10px; 
    }
    .footer {
        gap: 2rem;
        padding: 30px;
        justify-content: space-around;  
    }

    .empty{
        font-size: larger;
    }
    .empty ~ span{
        font-size: normal;
    }
    .bi-cart2{
        width: 200px;
    }
}
  
@media screen and (min-width: 768px) {
    .header {
        background-color: #C9D6DE;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9998;
    }
  
    .nav__list {
        list-style: none;
        display: flex;
        margin-bottom: 0;
    }
  
    .nav__item {
        padding-right: 20px;
        font-size: 20px;
    }
    
    .nav__item>a {
        color: #000000;
        text-decoration: none;
        font-family: "Black Han Sans", sans-serif;
        font-weight: 400;
    }
  
    .nav__toggle {
        display: none;
    }
  
    .nav__div {
        display: none;
    }
  
    .nav-login {
      display: none;
    }
  
    .no_div {
      display: none;
    }
  
    .menuBarIcons {
        display: flex;
    }
  
    .button-menu-icon {
        padding-right: 20px;
    }
  
    .badge {
      display: none;
    }

    .containermain {
        top: 90px;
    }

    .main_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #main_brand {
        font-size: 7vw;
        font-family: "Gasoek One", sans-serif;
        font-weight: 400;
    }
    #main_explain {
        font-size: 2vw; 
        padding-top: 30px;
    }

    .hover-text {
        right: 2px;
    }
    
    .nav__item:hover {
        font-size: 35px;
    }

    #main_brand:hover {
        font-size: 12vw;
    }
    
    #main_explain:hover {
        font-size: 3vw;
    }

    #content:hover {
        font-size: 25px;
    }
}